<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="optStructureDelimiter" value="_"/>
    <add key="machineId" value="BJH_TR6"/>
    <add key="imageServer" value="\\bjcdev"/>
    <add key="doseUnit" value="cGy"/>
    <add key="useClinicalProtocolPlanTemplate" value="false"/>
    <add key="useClinicalProtocolObjectiveTemplate" value="false"/>
  </appSettings>
</configuration>